@import url('https://fonts.googleapis.com/css2?family=Abel&family=Athiti:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=PT+Sans+Narrow&display=swap');

body {
    font-family: 'Athiti', sans-serif;
    height: 110vh;
    margin: 0px;
    color: #2d2d42;
    background: linear-gradient(0deg, rgba(179,106,94,0.5046219171262255) 25%, rgba(181,108,94,1) 100%);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
h1{
    font-family: "Abel", sans-serif;
    
}
#image h1{
    text-align: center;
}

#grid{
    display: grid;
    grid-template-columns: 462px 30px 621px 450px;
    grid-template-rows: 652px 50px 238px;
    grid-template-areas: "image . more more" 
                         ". . more more"
                         "contact . . nedideli";   
}

#image{
    grid-area: image;
    position: relative;
    background: linear-gradient(180deg, rgba(238,226,223,0.8) 45%, rgba(255,247,239,0) 100%);
    padding: 20px 40px 0px 40px;
}
img{
    width: 382px;
    object-fit: cover;
}
#image p{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -47.7%);
    color: rgba(255, 255, 255, 0);
    padding: 30px;
    font-size: larger;
    
}
.tile{
    width: 322px;
    height: 450px;    
}
#image  p:hover {
    background-color: rgba(245, 220, 220, 0.808);
    color: black;
  }



#more{
    grid-area: more;
    background: linear-gradient(180deg, rgba(238,226,223,0.8) 45%, rgba(255,247,239,0) 100%);
    font-size: 17px;
    padding: 20px 40px 0px 40px;
}
#more h1{
    margin-bottom: 0px;
}
#more-nedideli{
    grid-area: nedideli;  
    margin-top: 30px;
    
}
#more-nedideli h1{
    text-align: right;
    padding-right: 50px;
    padding-right: 50px;
}
#more-nedideli div{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#more-nedideli p{
    margin: 5px 10px 5px 0px;
    font-weight: 700;
}

#contact{
    grid-area: contact;
    background: linear-gradient(180deg, rgba(238,226,223,0.8) 45%, rgba(255,247,239,0) 100%);
    padding: 20px 40px 0px 40px;
}
 li{
    list-style-type: none;
  }
  ul{
    padding-left: 10px;
}
  #contact a{
    text-decoration: none;
    color: #2d2d42;
    font-size: 22px;
   /* padding-right: 1em;
    padding-left: 1em;*/
  }
  
  #contact a:hover{
    color: white;
  }






